@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/Poppins-Regular.ttf');
}

body {
  font-family: 'Poppins';
}

input[type="checkbox"] {
  display:none;
}

.table {
  border: 2px solid black!important;
  border-radius: 3px;
}
.table tr {
  height: 25px;
}

.table td {
  border: 2px solid black;
  width: 50px;
  height: 50px;
  background-clip: padding-box;
  border-radius: 100%;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.current-beat .beat-selected, .beat-selected {
  animation: fadeIn .5s;
  background-color: #009540!important;
}

.current-beat {
 background-color: #a4f4c6;
}

div#serial-widget {
  padding: .5em;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

#disconnect-error {
  display: none;
}
